<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean to create a LocalDate using factory-method -->
    <bean id="currentDate" class="java.time.LocalDate" factory-method="now"/>

    <!-- Bean to inject LocalDate via setter -->
    <bean id="wmg" class="com.nt.sbeans.WishMessageGenerator">
        <property name="currentDate" ref="currentDate"/>
    </bean>
</beans>
